body {
    margin: 0;
    padding: 15px;
    background-image: url("assets/bg.jpg");
    background-size: cover;
    background-repeat: repeat-x;
}

nav {
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin: 15px 0;
}

nav a {
    text-decoration: none;
    color: white;
    margin: 0 15px;
    font-family: Verdana, sans-serif;
}

section {
    padding: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1,
h2 {
    font-family: Verdana, sans-serif;
    color: white;
    text-align: center; /* Center align header and section headings */
}

p {
    line-height: 1.6;
    font-family: Verdana, sans-serif;
    font-size: 22px;
    max-width: 100%;
    text-align: justify;
    text-justify: inter-word;
    color: white;
}

.content-box {
    flex: 1;
    margin: 0 2em;
}

.section-box {
    background: rgba(0, 0, 0, 0.5);
    padding: 2em;
    max-width: 900px;
    margin: 15px auto;
    border-radius: 8px;
}

.header-box {
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    padding: 1em 15px;
}

.region-box {
    font-family: Verdana, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    padding: 1em 15px;
    border-radius: 5px;
    margin: 15px 0;
}

.left-section {
    display: flex;
    align-items: center;
}

.right-section {
    display: flex;
    align-items: center;
}

/* Hide all sections by default */
.section-box {
    display: none;
}

/* Show only the active section */
.active-section {
    display: block;
}

.current-date-time {
    margin-left : 15px;
    color : white;
}

#language-selector {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
}

#language-selector img {
    margin-right: 15px; /* Adjust the margin as needed */
}
#current-language {
    margin-right: 10px; /* Adjust the margin as needed */
    color : white;
}
#language-list {
    display: none;
    position: absolute;
    right: 0;
    left: 15;
    bottom : 10px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 25px;
    z-index: 1;
    max-height: 200px; /* Set a maximum height for the dropdown menu */
    overflow-y: auto; /* Add scrollbar if content exceeds max height */
}
#language-list li {
    cursor: pointer;
}
#language-list li {
    cursor: pointer;
    margin-bottom: 5px; /* Adjust the margin as needed */
}

.dropdown-item {
      display: block;
      padding: 8px;
      text-decoration: none;
      color: rgba(500, 450, 250, 0.9);
      border-bottom: 1px solid #ccc; /* Add a border between options */
}

.dropdown-item:last-child {
      border-bottom: none; /* Remove border for the last option */
}